/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
    $shadow: ();
    $from: $stroke*-1;
    @for $i from $from through $stroke {
        @for $j from $from through $stroke {
            $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
        }
    }
    @return $shadow;
}

/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
    text-shadow: stroke($stroke, $color);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
}

#loader-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: auto;
    padding: 0px;
    transform: translate(-50%, -50%);
    z-index: 99999;
}

#loader {
    position: relative;
    margin: 0px;
    width: 500px;
    height: auto;
    color: white;
    padding: 30px;
    border-radius: 40px;
    z-index: 99999;
    @include stroke(3, black);
}

#loader::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(105deg, rgba(91,0,0,1) 0%, rgba(101,0,78,1) 24%, rgba(0,67,94,1) 48%, rgba(7,85,0,1) 73%, rgba(0,9,88,1) 100%);
    width: 100%;
    height: 100%;
    transform: scale(1.02);
    z-index: -1;
    background-size: 500%;
    animation: animate 20s infinite;
}

#loader::after {
    filter: blur(7px);
}

@keyframes animate {
    0% { background-position: 0 0; }
    50% { background-position: 100% 0; }
    100% { background-position: 0 0; }
}

#loader #header {
    text-align: center;
    font-size: 35px;
}

#loader #info {
    text-align: center;
    font-size: 22px;
}

#loader #details {
    text-align: center;
    font-size: 18px;
}

#loader .mark-error {
    color: rgb(245, 55, 55);
}

#loader .mark-success {
    color: rgb(81, 247, 59);
}

#loader input[type=text] {
    background: transparent;
    backdrop-filter: saturate(50%);
    width: 90%;
    padding: 6px 10px;
    margin: auto;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    text-transform: uppercase;

    &:focus {
        outline: none;
    }
}